# Visual Studio
.vs/
*.user
*.suo

# CMake
out/
build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json

# Compiled files
*.exe
*.dll
*.lib
*.obj
*.pdb
*.ilk

# Temporary files
*.tmp
*.log